<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div class="background">
        <div class="bola-fundo bola-1">
        </div>
        <div class="bola-fundo bola-pequena bola-2">
        </div>
        <div class="bola-fundo azul bola-3">
        </div>
        <div class="bola-fundo bola-pequena azul bola-4">
        </div>


        <div class="container">
            <div class="left-div">
                <h1 class="bem-vindo">
                    Bem-Vindo
                </h1>

                <div class="area-cadastro">
                    <h2>Crie sua conta</h2>
                    <button class="btn-cadastro">
                        Cadastre-se
                    </button>
                </div>

                <div></div>
            </div>

            <div class="right-div">
                <div class="box-right-div">
                    <h1 class="title-login">Faça Login</h1>
                    
                    <div class="box-inputs">
                        <input type="text" class="input" name="nome" id="nome" placeholder="Usúario">
                        <div class="box-input-olho">
                            <input type="password" class="input" name="senha" id="senha" placeholder="Senha">
                            <button id="btnAbrirOlho">
                                <img id="img-btn-olho" src="./assets/eye-regular.svg" alt="Mostrar a senha">
                            </button>
                        </div>
                    </div>
                    
                    <button class="btn-login">
                        Entrar
                    </button>
                </div>
            </div>
        </div>
    </div>


</body>

<script src="script.js"></script>
</html>